<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CharactersActivity" />
        <activity android:name=".CharacterDetailActivity" />
        <activity android:name=".CharacterAddEditActivity" />
        <activity android:name=".ObjectsActivity" />
        <activity android:name=".ObjectDetailActivity" />
        <activity android:name=".ObjectAddEditActivity" />
        <activity android:name=".PlacesActivity" />
        <activity android:name=".RealisateursActivity" />
        <activity android:name=".RealisateurDetailActivity" />
        <activity android:name=".RealisateurAddEditActivity" />
        <activity android:name=".MoviesActivity"/>
        <activity android:name=".MovieDetailActivity" />
        <activity android:name=".MovieAddEditActivity" />
        <activity android:name=".QuizActivity" />


        <service android:name=".MusicService" />


    </application>

</manifest>